In [117]:
import requests

In [118]:
from bs4 import BeautifulSoup

In [119]:
import html5lib
import pandas as pd

In [120]:
url="https://www.worldometers.info/coronavirus/countries-where-coronavirus-has-spread/"

In [121]:
html_page=requests.get(url).text

In [122]:
soup=BeautifulSoup(html_page,'html5lib')

In [123]:
casualty_data=pd.DataFrame(columns=["Country","Cases","Deaths","Region"])

In [124]:

for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    country=col[0].text
    totalcases = col[1].text
    deaths = col[2].text
    area = col[3].text
    casualty_data = casualty_data.append({"Country":country, "Cases":int(totalcases.replace(",","")),
                                    "Deaths":int(deaths.replace(",","")),
                                    "Region":area}, ignore_index=True)

In [131]:

   casualty_data.head()

          Country     Cases  Deaths         Region
0   United States  81423777  998128  North America
1           India  43010661  516574           Asia
2          Brazil  29641594  657302  South America
3          France  24161339  141085         Europe
4  United Kingdom  20093762  163511         Europe